@import "styles/imports";

.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}

.slide {
   float: left;
   box-sizing: border-box;
   background-size: 100% auto;
   position: absolute;
   background-position: center center;
   height: 320px;
   width: 100%;
   display: none;
}

.slide.active{
  display: block;
}

.slider-controls {
    display: flex;
    margin: 0px auto;
    @media only screen and (min-width: $lg) {
      width: 1200px;
    }
    place-content: center;
}

.btn{
  @media only screen and (min-width: $lg) {
    background-image: none !important;
  }
}
