@import "~reset-scss/reset";
@import "styles/typography";
@import "styles/variables";

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

body{
  color: $color-black;
  font-size: $font-size-base;
  font-family: 'Ropa Sans',Arial,Helvetica,sans-serif;
  line-height: 1.4;
  font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
