@import "styles/imports";

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
  overflow-y: scroll;
}

body{
  background-color: $color-gray;
  color: $color-blue;
  font-family: 'Ropa Sans',Arial,Helvetica,sans-serif;
  font-size: $font-size-base;
  font-smoothing: antialiased;
  line-height: 1.4;
}

html, body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
