@import "~reset-scss/reset";

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

body{
  line-height: 1.4;
  font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
